body {
    background-color: black !important;
}

h1 {
    color: white;
}

/* section text */

.container__text-groupe {
  max-width: 1200px;
  margin: 160px auto 0 auto; 
  padding: 0 1rem;

  h1 {
    color: white;
    font-size: 70px;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    color: #d80303;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;

    @media (max-width: 1024px) {
      font-size: 24px;
    }

    @media (max-width: 640px) {
      font-size: 20px;
    }
  }
}

/*section group*/
.text__section-formation h3 {
    color: white;
    font-size: 60px;

}

.images__group {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 200px;
    height: 2000px;

    span {
        color: #d80303;
    }
}

/*section formation*/
.text-section_formation {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 150px;
    height: 200px;

    h3 {
        color: white;
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }

    p {
        color: #d80303;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }
}
/*section album*/
.container__album{
    margin-top: 150px;
    .img__album img{
        width: 100%;
        height: auto;
    }
}

.container__text {
    h2 {
        color: white;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 150px;
    }
    p{
        color: white;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 150px;
    }
}

.container__video {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 150px;

    h3 {
        color: white;
        font-size: 40px;
    }
}

/*section spotify*/
.container__spotify {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 90px;

    h3 {
        color: white;
        font-size: 40px;
    }
}