body{
    background-color: black !important;
}
h1{
    color: white;
}
// section produits
.container-shop{
      max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  h2{
    margin-top: 165px;
    font-size: 70px;
  }
  h3{
    margin-top: 150px;
    text-align: center;
    font-size: 35px;
  }
  .grid-produits{
    margin-top: 150px;
  }
}
// section newslette
.container-newsletter{
  margin-top: 200px;
}