body {
  background-color: black !important;
}

h1 {
  color: white;
}

/*section carousel*/
.container__carousel {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 150px;
  height: 800px;
  margin-top: 120px;
}

/*section de text et des icons reseaux sociaux*/
.container__description {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 100px;
}
.container__description .container__text-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container__description .container__text-icons .text__reseaux {
  width: 100%;
}
.container__description .container__text-icons .icons__reseaux {
  width: 30%;
}
@media (max-width: 625px) and (min-width: 400px) {
  .container__description .flex-row-md {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  .container__description .container__text-icons {
    flex-direction: column;
    align-items: center;
  }
  .container__description .container__text-icons .text__reseaux,
  .container__description .container__text-icons .icons__reseaux {
    width: 100%;
    text-align: center;
  }
  .container__description .container__text-icons .icons__reseaux {
    margin-top: 1rem;
  }
}

/* section shows et link */
.container__shows {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 600px !important;
  margin-top: 200px;
}
.container__shows .show__img {
  width: 70% !important;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__shows .show__img img {
  padding: 10px;
  width: 400px;
  height: 600px;
  object-fit: cover;
}
.container__shows .show__info {
  width: 30% !important;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

/*section album*/
.container__album {
  margin-top: 200px;
}
.container__album .img__album img {
  width: 500px;
  height: 600px;
}

/*section integrants de group*/
.card {
  background-color: #000307;
  color: #ffffff;
  border-radius: 1rem;
  width: 820px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.card img {
  width: 600px;
  height: auto;
  -webkit-mask-image: radial-gradient(
    circle,
    rgb(0, 0, 0) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
  object-fit: cover;
}

.avatar {
  width: 500px;
  height: 400px;
  border-radius: 0;
  margin-bottom: 1rem;
  object-fit: cover;
}

.name {
  font-size: 1.25rem;
  font-weight: 700;
}

.role {
  font-size: 1rem;
  color: #d1d5db;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate__scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

/*section newsletter*/
.container__newsletter {
  margin-top: 200px;
}

button:hover {
  transform: scale(1.05) rotate(-1deg);
  transition: transform 0.2s;
}
