body {
  background-color: black !important;
}

h1 {
  color: white;
}

/*section img logo*/
.container-img {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
  margin-top: 110px;
}

/*section carousel*/
.container-carousel {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: blue;
  margin-top: 150px;
  height: 900px;
  margin-top: 120px;
}

/*section de text et des icons reseaux sociaux*/
.container-description {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: green;
}
.container-description .container-text_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-description .container-text_icons .text-reseaux {
  width: 70%;
}
.container-description .container-text_icons .icons-reseaux {
  width: 30%;
}

.container-link_tours {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: yellow;
}