body {
  background-color: black !important;
}

h1 {
  color: white;
}

.container-shop {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-shop h2 {
  font-size: 70px;
}
.container-shop .grid-produits {
  margin-top: 150px;
}

.container-newsletter {
  margin-top: 200px;
}