body {
  background-color: black !important;
}

h1 {
  color: white;
}

/*section espectacles*/
.container__shows {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 150px;
}
.container__shows .poster {
  margin-top: 50px;
}
.container__shows img {
  width: 400px;
  height: 400px;
}
@media (max-width: 1024px) {
  .container__shows {
    grid-template-columns: repeat(2, 1fr);
  }
  .container__shows img {
    width: 300px;
    height: 500px;
  }
}
@media (max-width: 652px) {
  .container__shows {
    grid-template-columns: 1fr;
  }
  .container__shows img {
    width: 400px;
    height: 500px;
  }
}

/*section videos shows*/
.container__video-shows {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 200px;
}
.container__video-shows h3 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}
.container__video-shows .show-1 {
  margin-top: 150px;
}
.container__video-shows .show-2 {
  margin-top: 50px;
}
.container__video-shows .show-3 {
  margin-top: 50px;
}

/*section newslette*/
.container__newsletter {
  margin-top: 200px;
}